* {
	box-sizing: border-box;
}

:root {
	--blue: #36465d;
	--dark-blue: #283344;
	--grey: #dddedc;
}

body {
	background-color: var(--blue);
	color: var(--grey);
	margin: 0;
	font-size: 16px;
}

/* WRAPPERS */
.wrapper {
	margin-top: 70px;
}
.content {
	display: flex;
	flex-direction: column;
	place-items: center;
}

/* HEADER */
#logo {
	width: 650px;
}

/* HIDING ELEMENTS */
.hide {
	display: none;
}

/* MAIN */
main {
	display: flex;
	flex-direction: column;
	place-items: center;
}

/* USER INPUT */
#user-input,
#final-code-textarea {
	border-radius: 10px;
	border: none;
	outline: none;
	padding: 5px 10px;
	text-align: justify;
	box-shadow: -3px 3px var(--dark-blue);
}

#user-input {
	width: 400px;
}

/* GENERATED CODE SECTION */
#final-code-textarea {
	resize: none;
}
.button-group {
	text-align: center;
}
