@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
	box-sizing: border-box;
}

:root {
	--blue: #36465d;
	--dark-blue: #283344;
	--disabled-blue: #7f8a9b;
	--grey: #dddedc;
}

body {
	background-color: var(--blue);
	color: var(--grey);
	margin: 0;
	font-size: 16px;
	font-family: "Mulish", sans-serif;
}

/* WRAPPERS */
.wrapper {
	margin-top: 50px;
}
.content {
	display: flex;
	flex-direction: column;
	place-items: center;
}

/* HEADER */
#logo {
	width: 650px;
	margin-bottom: 45px;
}

/* HIDING ELEMENTS */
.hide {
	display: none;
}

/* MAIN */
main,
.bottom-section,
.first-btn-section {
	display: flex;
	flex-direction: column;
	place-items: center;
	gap: 25px;
}

/* USER INPUT */
#user-input,
#final-code-textarea,
#hex-code {
	border-radius: 10px;
	border: none;
	font-size: 1.1rem;
	outline: none;
	font-family: "Mulish", sans-serif;
	padding: 9px 15px;
	color: #4c4b4b;
	text-align: justify;
	box-shadow: -4px 4px var(--dark-blue);
}
#user-input {
	width: 400px;
}
#hex-code {
	width: 250px;
	text-align: center;
}

#user-input::placeholder,
#final-code-textarea::placeholder,
#hex-code::placeholder {
	font-size: 0.9rem;
	color: #b7b7b7;
}

/* RADIO BUTTONS */
#radio-buttons {
	display: flex;
	flex-direction: row;
	gap: 35px;
}
.align-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
input[type="radio"] {
	margin: 2px 10px 0 0px;
}
#colour-picker-choice,
#hex-code-choice {
	padding: 7px 2px;
}
#colour-picker {
	border: none;
	padding: 0;
}

#colour-picker {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	width: 60px;
	height: 60px;
	border: none;
	cursor: pointer;
}

#colour-picker::-webkit-color-swatch {
	border-radius: 13px;
	border: 3px solid white;
	box-shadow: -4px 4px var(--dark-blue);
}
#colour-picker::-moz-color-swatch {
	border-radius: 13px;
	border: 3px solid white;
	box-shadow: -4px 4px var(--dark-blue);
}

.first-btn-section {
	gap: 10px !important;
}
#error-message {
	margin: 0;
	color: #ffc8c8;
	font-size: 0.8rem;
}

/* GENERATED CODE SECTION */
.bottom-section {
	margin-top: 30px;
}
#final-code-textarea {
	resize: none;
}
.button-group {
	text-align: center;
	display: flex;
	flex-direction: row;
	gap: 25px;
}

/* BUTTONS */
button {
	border: none;
	background-color: var(--dark-blue);
	border: 2px solid var(--dark-blue);
	color: var(--grey);
	padding: 10px 10px;
	border-radius: 10px;
	transition: 300ms;
	font-family: "Mulish", sans-serif;
	font-weight: bold;
	cursor: pointer;
	letter-spacing: 1.5px;
}
#generate-btn {
	margin-top: 10px;
}

.disabled-btn {
	background-color: var(--disabled-blue);
	border: 2px solid var(--disabled-blue);
}
.disabled-btn:hover {
	box-shadow: none;
	color: var(--grey);
	background-color: var(--disabled-blue);
	border: 2px solid var(--disabled-blue);
	cursor: not-allowed;
}

#generate-btn:hover {
	background-color: #5ac077;
	color: var(--dark-blue);
}
.button-group > button:nth-child(1):hover {
	background-color: #db5c84;
	color: var(--dark-blue);
}
.button-group > button:nth-child(2):hover {
	background-color: #f9c37a;
	color: var(--dark-blue);
}

#generate-btn:hover,
.button-group > button:nth-child(1):hover,
.button-group > button:nth-child(2):hover {
	box-shadow: -4px 4px var(--dark-blue);
	border: 2px solid white;
}
